
    ::-webkit-scrollbar {
        max-width: 8px;
        max-height: 8px;
        background: #f1f1f1;
        border-radius: 7px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.15);
        width: 5px;
        border-radius: 7px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,0.25);
    }

    .text {
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        width: auto;
        background-color: #fff;
        padding: 8px 12px;
        border-left: 4px solid #4CAF50;
        word-wrap: break-word;
    }
    body {
        background: #f0f0f0;
    }
    .form-field{
        background: white;
        border-radius: 25px;
    }
    button {
        background-color: #4796b3;
        color: white;
        font-size: 20px;
        width: 180px;
        height: 35px;
        border-radius: 15px;
        font-family: revert;
        text-align: center;
        padding: 0px;
    }
    .close {
        width: 35px;
        height: 35px;
    }
    .modal_button {
        width: 120px;
        height: 35px;
        font-size: 16px;
    }
    .storage tr, .storage td {
        border: 0;
    }
